<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Flood Alert [built with Python | Flask | Vue.js]</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vue.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div id="fixed_bar">
        <div class="wrapper">
            <h1>Flood Alert <a href="#" class="fa fa-github-alt"></a></h1>
            <h2>Python | Flask | Vue.js | {{ fmtdate }}</h2>
        </div>
    </div>
    <br/>
    <br/>

    <form id="main" v-cloak>

        <div class="bar">
            <!-- Create a binding between the searchString model and the text field -->

            <input type="text" v-model="searchString" placeholder="Search flood alerts" />
        </div>

        <ul>
            <!-- Render a li element for every entry in the computed filteredArticles array -->

            <li v-for="article in filteredArticles">
                <a v-bind:href="article.url"><img v-bind:src="article.image" /></a>
                <p>{% raw %}{{article.title}}{% endraw %}</p>
            </li>
        </ul>
        
    </form>

    <script>
        var demo = new Vue({
            el: '#main',
            data: {
                searchString: "",

                // from Alert class

                articles: [

                    {% for alert in alerts %}
                    {
                        "title": "{{ alert.title }}",
                        "url": "{{ alert.url }}",
                        "image": "{{ url_for('static', filename = alert.image) }}"
                    },
                    {% endfor %}

                ]
            },
            computed: {
                // hold only those articles that match the searchString
                filteredArticles: function () {
                    var articles_array = this.articles,
                        searchString = this.searchString;

                    if (!searchString) {
                        return articles_array;
                    }

                    searchString = searchString.trim().toLowerCase();

                    articles_array = articles_array.filter(function (item) {
                        if (item.title.toLowerCase().indexOf(searchString) !== -1) {
                            return item;
                        }
                    })

                    // return an array with the filtered data
                    return articles_array;
                }
            }
        });
    </script>


</body>
</html>
